@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}
body {
	background: whitesmoke;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}
.container {
	display: flex;
}
.headline {
	text-align: center;
}
.fishBin {
	display: flex;
}
#tipsBorder {

}
#fishes{
	border: 5px dotted purple;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.fish-card {
	margin: 5px;
	max-width: 250px;
	display: flex;
	border: 5px solid lightseagreen;
	background: white;
	flex-wrap: wrap;
	justify-content: center;
}
.fish-name {
	border: 5px dotted purple;
	justify-content: center;
}
.fish-image {
	/* border: 5px dotted purple; */
	width: 97%;
	justify-content: center;
}
.navPortal {
	border: 10px solid black;
	background: white;
	min-width: 27%;
	text-align: center;
	flex-direction: column;
	display: flex;
}
.navArea {
	border: 5px dotted yellow;
	display: flex;
	justify-content: center;
}
.navList {
	border: 5px solid lightseagreen;
	padding-left: 0%;
	justify-content: center;
}
ul {
	list-style-type: none;
}
.nav {
	border: 5px dotted blue;
}